@model RipperdocShop.Shared.DTOs.ProductDto

<div
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="w-full flex items-center justify-center">
    <img class="rounded-t-lg" src="@Model.ImageUrl" alt="@Model.Name"/>
  </div>
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@Model.Name</h5>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">€$@Model.Price</p>
  <div>
    <a asp-controller="Products" asp-action="Details" asp-route-slug="@Model.Slug"
       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View</a>
  </div>
</div>
