@model RipperdocShop.Web.Models.ViewModels.CategoryProductsViewModel

@{
  ViewData["Title"] = Model.Category?.Name;
}

<div class="container px-4 py-6">
  <h1 class="text-3xl font-bold mb-4">@Model.Category?.Name</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @foreach (var product in Model.Products?.Products)
    {
      @await Html.PartialAsync("_ProductCard", product);
    }
  </div>
</div>
