@model RipperdocShop.Web.Models.ViewModels.ProductDetailsViewModel

<section class="container mx-auto py-6 px-4">
  <div class="grid md:grid-cols-2 gap-10">
    <div class="justify-self-center">
      <img src="@Model.Product?.ImageUrl" class="rounded w-2xs h-auto" alt="@Model.Product?.Name"/>
    </div>
    <div>
      <h1 class="text-3xl font-bold mb-2">@Model.Product?.Name</h1>
      <p class="text-lg text-gray-600 mb-4">€$@Model.Product?.Price</p>
      <p class="mb-6">@Model.Product?.Description</p>
      
      @if (Model.Ratings != null)
      {
        <partial name="_RatingsList" model="Model.Ratings.Ratings"/>
      }
      else
      {
        <h3 class="text-xl font-semibold mb-2">No ratings yet</h3>
      }

    </div>
  </div>
</section>
