@{
  ViewData["Title"] = "Home Page";
}
@model RipperdocShop.Web.Models.ViewModels.HomeViewModel

<section class="max-w-screen-xl mx-auto py-8 px-4">
  <h1 class="text-3xl font-bold mb-4">Categories</h1>
  <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-6 mb-10">
    @foreach (var category in Model.Categories?.Categories)
    {
      <a asp-controller="Products" asp-action="ByCategory" asp-route-slug="@category.Slug"
         class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h2 class="text-lg font-semibold">@category.Name</h2>
      </a>
    }
  </div>

  <h1 class="text-3xl font-bold mb-4">Featured Cyberware</h1>

  <div class="grid md:grid-cols-4 sm:grid-cols-2 gap-6">
    @foreach (var product in Model.FeaturedProducts)
    {
      @await Html.PartialAsync("_ProductCard", product);
    }
  </div>
</section>

